.innerSideProfile{
    width:80%;
    height:100%;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-family: Montserrat;
}
.profName{
    display:flex;
    height:25px;
    align-items: center;
}
.countySection{
    margin-top: 10px;
    /* display:grid; */
    grid-template-columns: 18% 82%;
    grid-template-areas: 
    "zip zipcode"
}
.countySection > b{
    justify-self: left;
    grid-area: zip;
    margin-bottom: 0;
}
.countySection>.dropdown{
    grid-area: zipcode;
    display: flex;
    justify-content: baseline;
}
/* .dropdown-menu{
    display: flex;
    flex-direction: column;
} */
.dropdown-item{
    align-self: center;
}
.countySection> .dropdown > button{
    font-weight: bolder;
    font-size: 24px;
    color:black;
    border: none;
    background-color: white;
    padding: 0 0 0 0;
}
.countySection>.dropdown > button:hover{
    color:black;
    border:none;
    background-color: white;;
}
.show>.btn-secondary.dropdown-toggle:focus {
    background-color: none;
}
.show>.btn-secondary.dropdown-toggle  {
    color:black;
    border:none;
    background-color: white;;
}
#newZip{
    width:70%;
    align-self: center;
}
.watchingSection{
    margin-top: 10px;
    display:grid;
    grid-template-columns: 18% 82%;
    grid-template-areas: 
    "font watching"
    ". watchList"
}
.watchingSection > .font{
    font-size: 27px;
    justify-self: left;
    grid-area: font;
    color:#C79E34;
}
.watchingSection > b{
    grid-area: watching;
}
.watchList{
    margin-left: 16px;
    border-left: 2px black solid;
    grid-area: watchList;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}
#saveCountyBtn{
    color:white;
    font-size: 13px;
    font-weight: 600;
    border:none;
    background-color: #EF8354;
    padding: 8px;
    border: #EF8354;
    border-radius: 21px;
    width:70%;

}
#saveCountyBtn:hover{
    background-color: #c46a44;
}
.modalButtons {
    display: flex;
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
}

.saveCountiesBtn {
    color:white;
    font-size: 13px;
    font-weight: 600;
    border:none;
    background-color: #279AF1;
    padding: 8px;
    border: #279AF1;
    border-radius: 21px;
    margin: 5px;
}

.saveCountiesBtn:hover {
    background-color: #217abe;
}

.saveCountyBtn {
    padding: 2px 5px 2px 5px;
    margin: 5px;
    background-color: rgb(238, 238, 238);
    border: 1px solid black;
    border-radius: 5px 5px 5px;
}
.saveCountyBtn:hover {
    background-color: rgb(218, 218, 218);
}
.countyItem {
    padding: 5px;
    border-radius: 5px 5px;
    border: 1px solid black;
    margin: 5px;
    background-color: rgb(238, 238, 238);
}
.cancelCountyBtn {
    background: none;
    color: inherit;
    border: none;
    padding-left: 5px;
    margin-left: 5px;
    border-left: 1px solid black;
}
.cancelCountyXmark:hover {
    color: rgb(218, 0, 0);
}
.countyInput {
    padding: 2px;
}
.countyInputBlock {
    margin: 0px 10px 10px 10px;
}
.countiesList {
    display: flex;
    flex-wrap: wrap;
}
.countyInputLabel {
    margin-left: 10px;
}