.MainWindow{
    display: flex;
    justify-content: center;
}

.SideStories{
    height:90vh;
    width:40%;
    display: flex;
    justify-content: center;
}
.MainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:60%;
    border-left: 2.2px solid black;
    border-right: 2.2px solid black;
    /* border:3px solid blue; */
}

.searchbox{
    background-color: #D9D9D9;
    width:70%;
    height:15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding:18px;
    margin-top: 15px;
}
.searchbox >.MagnifyingGlass{
    font-size: 23px;
    color:grey;
    padding-right: 5px;
}
.searchbox >input{
    flex:1;
    font-size: 19px;
    font-weight: 600;
    height:29px;
    border:None;
    outline: none;
    background-color:#D9D9D9;

}

.homeselection{
    margin-top: 4vh;
    display: flex;
    width:75%;
    justify-content: center;
    gap:30px;
}
.homeselection > button{
    font-size: 24px;
    font-weight: 600;
    color:white;
    background-color: black;
    width:33%;
    height:35px;
    border-radius: 8px;
    border:none;
}
.homeselection > button:hover{
    background-color:rgb(51, 51, 51)
}
.homeselection>button:focus{
    outline: none;
}
#Latest-active{
    background-color: white;
    color:black;
}
#Popular-active{
    background-color: white;
    color:black;
}
#Mine-active{
    background-color: white;
    color:black;
}

.storysection{
    box-shadow: 0px -0.8px 2px rgba(0, 0, 0, 0.638);
    margin-top: 4vh;
    width:100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}

.storysection > .storycontainer{
    /* background-color: #000000; */
    padding-bottom: 3px;
    border-top:1.5px solid black;
    /* box-shadow: 0px 20px; */
}
.storysection > .storycontainer >.story{
    background-color: #262950;
    color:white;
    margin: auto;
    margin-top: 1em;
    border: 1.5px solid #262950;
    border-radius: 8px;
    width:92%;
    display: grid;
    padding-top:.5em;
    padding-top:.5em;
    grid-template-columns: auto;
    grid-template-rows: 70px auto;
    grid-template-areas: 
    "header"
    "info"

}
.storycontainer > .interactions{
    font-size: 19px;
    padding: 1px;
    /* height:15px; */
    width:100%;
    display: flex;
    justify-content: center;
}
.interactions > .action{
    display:flex;
    justify-content: center;
    align-items: center;
    width:33%
}
.action>*{
    pointer-events: none;
    cursor: default;
}
.action > p{
    margin-bottom: 0;
    margin-left: 1em;
}
#watching-inter{
    color:#C79E34
}
.story > .storyTD{
    grid-area:header;
    height:90%;
    width:95%;
    display:grid;
    justify-self: center;
    align-items: center;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "title date"
}
.storyTD >.Title{
    font-size: 20px;
    font-weight: 600;
    grid-area:title;
}

.storyTD >.Date{
    grid-area: date;
    justify-self: right;
    font-size: 14px;
    font-weight: 600;
    /* align-self: center; */
}
.storyinfo >.storydetails{
    grid-area: story;
}

.story > .storyDT{
    grid-area:info;
    margin-bottom: .5em;
    margin-bottom: .5em;
    width:95%;
    display:grid;
    justify-self: center;
    align-items: center;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    "details tag"
}
.storyDT > p{
    font-size: 16px;
    font-weight: 500;
}
.storyDT >.icon{
    font-size: 27px;
    justify-self: center;
    color:orange;
}
#seeMore{
    border:none;
    background-color: transparent;
    color:rgb(207, 207, 207);
    font-size: 16px;
    font-weight: 500;
}
#seeMore:hover{
    color:rgba(122, 122, 223, 0.606)
}
#seeMore:focus{
    outline: none;
}


.newUser{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top:5em;
    width:40%;
    background-image: linear-gradient(to bottom right, rgba(118, 126, 236, 0.325), rgba(241, 167, 93, 0.504));
    border-radius: 8px;
    box-shadow: 0px 2.5px 2.5px rgba(113, 113, 113, 0.511);
}
.newUser > #title{
    text-shadow: 1px  0.5px 2px rgba(0, 0, 0, 0.443);
    color:white;
    text-align: center;
    /* align-self: center; */
    font-weight: bold;
    margin-top: 5px;
    width:100%;
    height:22%;
    font-size:22px;
}
.tagicon{
    margin-right:5px;
}
.newUser > button{
    font-weight: 600;
    margin-top:3px;
    align-self: center;
    text-align: left;
    width:65%;
    background-color: transparent;
    padding:5px;
    border: none;
    outline: none;
    border-top: 1px rgb(181, 181, 181) solid;
}
.newUser > button:hover{
    background-color: rgba(255, 255, 255, 0.435);
}
.newUser > .tagButtonSelected{
    background-color:rgba(53, 217, 53, 0.567)
}

.commentSection {
    overflow-y: scroll;
    height: 75%;
    max-height: 75%;
}

.commentContainer {
    border-left: 1px solid rgb(48, 48, 48);
    padding-left: 5px;
    display: flex;
}

.commentContainer:hover .deleteCommentButton {
    display: block;
    color: rgb(255, 0, 0);
    border: none;
    background-color: transparent;
    margin-left: 5px;
}

.deleteCommentButton {
    display: none;
}

.deleteCommentXmark:hover {
    color: rgb(199, 0, 0);
    background-color: transparent;
}

.commentAuthor {
    margin-right: 28px;
    font-weight: 700;
}

.commentContent {
    width:auto;
    line-break: auto;
}

.commentDate {
    font-size: 80%;
}

.commentSubmissionContainer {
    top: 0px;
    width: 100%;
    margin-bottom: 16px;
}

.closeCommentButton {
    color:white;
    font-size: 13px;
    font-weight: 600;
    border:none;
    background-color: #EF8354;
    padding: 8px;
    border: #EF8354;
    border-radius: 21px;
    width:20%;
    position: absolute;
    bottom: 10px;
}

.closeCommentButton:hover{
    background-color: #c46a44;
}

.submitCommentButton {
    color:white;
    font-size: 13px;
    font-weight: 600;
    border:none;
    background-color: #279AF1;
    padding: 8px;
    border: #279AF1;
    border-radius: 21px;
    width:30%;

}

.submitCommentButton:hover{
    background-color: #217abe;
}

.commentTextArea {
    width: 100%;
    margin-bottom: 5px;
}